<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= place.name %>
    <i><%= place.address %>
    <p><%= place.description %>

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  </div>
<% end %>
  <div class="col-10 offset-1">
   <%= will_paginate @places %>
  </div>



